* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #66ccff, #ffff66);
}

.MuiPaper-root {
  min-width: 500px !important;
  text-align: center;
}

.city__input__container {
  display: flex;
}

.city__input {
  flex: 1;
}

.MuiInputBase-input {
  // color: red !important;
}

.weather__info {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .weather__info__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .weather__info__grid__item {
      display: flex;
      margin: 1.5rem;
      justify-content: center;
      // align-items: center;
      // background-color: red;

      img {
        object-fit: inherit;
        width: 50px;
        height: 50px;
      }

      div {
        margin: 0 1rem;
        p {
          margin: 0;
          font-size: 16px;
          font-weight: inherit;
        }
      }
    }
  }
}
